@media (max-width: 575.98px) {
    :root {
        margin: 3%;
    }

    body {
        font-size: 18px;
    }

    .row {
        padding: 0 2%;
    }

    .us-image img {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .us-text p {
        margin: auto;
    }

    .box {
        height: 165px;
    }

    .main-nav {
        margin-top: -5px;
    }

    .slick-slide {
        height: 300px !important;
        overflow: hidden;
    }

    .slider-overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        margin-bottom: 17px;
    }

    section {
        padding: 50px 0;
    }

    footer {
        padding: 30px;
    }

    .contact-form {
        width: 85%;
    }

    .footer-nav {
        display: none;
    }

    .social-links {
        margin-bottom: 10px;
    }

    .credits {
        margin-top: 55px;
        font-size: 75%;
    }

    body > footer > div:nth-child(2) > div > ul > li.email {
        font-size: 80%;
    }
}
