.single-page-gallery {
    margin: 2% 5%;
}

.single-page-gallery img {
    height: 200px;
    border-radius: 20px;
}

.field-name-field-primary-image .field-item {
    display: inline;
    margin-right: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

.project-title {
    margin-top: 5%;
}

.section-list {
    margin: 1vh 7vw;
}

.section-title {
    margin-top: 10%;
}

.page-selected {
    border-bottom: 1px solid orangered;
}
