/**********************

General

***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* Mejor render de las fuentes */
    height: 100%;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 1%;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 150%;
    margin-bottom: 5px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c0392b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #9c2d21;
    margin-bottom: 10px;
}

/* .icon-big:hover {
    color: #fff;
} */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.box-cities img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/**********************

Header

***********************/

header {
    color: #9c2d21;

    background: #fff;

    border-bottom: 10px solid #9c2d21;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-main-text {
    display: block;
    margin-bottom: 10px;
    height: 100px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a {
    color: #9c2d21;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #9c2d21;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c0392b;
}

/**********************

Header Slider

***********************/

.text-white {
    color: #fff !important;
}

@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}

.hero-slide {
    height: 100vw;
    display: flex !important;
    align-items: flex-end;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.hero-slide .container {
    z-index: 1;
    position: relative;
}

.hero-slider {
    padding: 0;
}

body > section.hero-slider.slick-initialized.slick-slider {
    height: 80vh;
    padding: 0 !important;
}

.hero-slider .slide-content {
    width: 100%;
    padding: 10px 20px 30px 0;
    font-family: "Proxima-Nova", sans-serif !important;
    opacity: 0;
}

.slick-slide {
    height: 600px !important;
    overflow: hidden;
}

.slick-active .slide-content {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;
}
.slide-content .h1 {
    font-weight: bold;
    font-size: 26px;
}

.slider-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider-overlay {
    background: rgba(0, 0, 0, 0.9);
}
.slide-btn {
    position: relative;
    padding-left: 0;
}
.slide-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #d2282e;
    transition: width 0.3s ease-in-out;
}

.slide-btn:hover:after {
    width: 90%;
}

.slider_1 {
    background-image: url("img/hero-slider-1.jpg");
    background-position: center center !important;
}
.slider_2 {
    background-image: url("img/hero-slider-2.jpg") !important;
    background-position: center center !important;
}
.slider_3 {
    background-image: url("img/hero-slider-3.jpg") !important;
    background-position: center center !important;
}
.slider_4 {
    background-image: url("img/hero-slider-4.jpg") !important;
    background-position: center center !important;
}
.slider_5 {
    background-image: url("img/hero-slider-5.jpg") !important;
    background-position: center center !important;
}
.slider_6 {
    background-image: url("img/hero-slider-6.jpeg") !important;
    background-position: center center !important;
}

@media screen and (min-width: 768px) {
    .slider-overlay {
        display: none;
    }

    .hero-slide {
        align-items: center;
        min-height: 300px;
        max-height: 80vh;
    }

    .slide-content {
        max-width: 450px;
        padding: 10px 20px 10px 0;
        background: rgba(0, 0, 0, 0.9);
        padding: 20px !important;
    }

    .slide-content .h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .slide-content {
        max-width: 550px;
        padding: 10px 20px 10px 0;
    }
}

.slider-container {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

/**********************

Botones

***********************/

.btn,
input[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* Borrar el formato predefinido */
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full,
input[type="submit"] {
    background-color: #c0392b;
    border: 1px solid #c0392b;
    color: #fff;
}

.btn-ghost {
    border: 1px solid #c0392b;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover {
    background-color: #9c2d21;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover {
    border: 1px solid #9c2d21;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solic #9c2d21;
}

/**********************

Us/Nosotros

***********************/

.section-us {
    background-color: rgba(228, 228, 228, 0.623);
}

.us-image img {
    width: 100%;
    padding: 6%;
    -webkit-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.7);
    box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.us-text p {
    color: #000;
    width: 85%;
    font-size: 120%;
    line-height: 120%;
    margin-bottom: 20px;
    margin-left: 40px;
    text-indent: 60px;
}

/**********************

Features/Servicios

***********************/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    height: 250px;
    padding: 1%;

    border-radius: 20px;

    -webkit-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);

    transition: transform 0.4s, box-shadow 0.4s;
}

.box:hover {
    /* color: #000; */
    transform: scale(1.04);

    -webkit-box-shadow: inset 1px 0px 4px 8px rgba(50, 50, 50, 0.23);
    -moz-box-shadow: inset 1px 0px 4px 8px rgba(50, 50, 50, 0.23);
    box-shadow: inset 1px 0px 4px 8px rgba(50, 50, 50, 0.23);
    text-decoration: none;
}

.box p {
    font-size: 120%;
    line-height: 145%;
}

.section-features .row:first-of-type {
    margin-bottom: 15px;
}

.section-features a {
    color: #000;
    text-decoration: none;
    transition: background-color 0.2s;
}

.section-features a:hover {
    color: #000;
    text-decoration: none;
    transition: background-color 0.2s;
}

.section-features i {
    text-align: center;
}

.section-features h3 {
    padding: 20px;
    font-size: 90%;
    text-align: center;
}

/**********************

Sample Gallery/Fotos main page

***********************/

.section-sample-gallery {
    padding: 0;
}

.sample-gallery-showcase {
    list-style: none;
    width: 100%;
}

.sample-gallery-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.sample-gallery-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.sample-gallery-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
}

.sample-gallery-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/**********************

Trabajos

***********************/

.section-trabajos a {
    text-decoration: none;
    color: #000;
}

.box-cities {
    background: #fff;
    padding: 1%;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);
    box-shadow: 9px 10px 34px -7px rgba(0, 0, 0, 0.57);
}

.box-cities:hover {
    background: rgba(85, 85, 85, 0.212);
}

.box-cities img {
    border-radius: 20px;
    margin-bottom: 40px;
}

.box-cities h3 {
    margin-bottom: 30px;
    text-align: center;
}

.box-cities p {
    text-align: right;
}

/**********************

Testimonials

***********************/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/**********************

Contact Form

***********************/

.section-form {
    background-color: rgba(216, 216, 216, 0.274);
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}

/**********************

Footer

***********************/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 100%;
}

.footer-nav {
    list-style: none;
    float: right;
}

.social-links,
.footer-tel-email {
    list-style: none;
    float: left;
}

.footer-tel-email {
    color: #ccc;
}

.footer-tel-email li:nth-child(1) {
    margin-bottom: 10px;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(172, 171, 171);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(255, 255, 255);
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 200%;
}

.ion-logo-facebook,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-instagram:hover {
    color: #c32aa3;
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
}

.credits {
    margin-top: 8%;
    font-size: 80%;
}

.credits a {
    text-decoration: none;
    color: aliceblue;
}

.credits a:hover {
    border-bottom: 1px solid rgba(202, 20, 20, 0.521);
    border-radius: 20px;
    padding: 0.5%;
}

.credits p {
    font-size: 100%;
}

/**********************

Single Page

***********************/

.section-title {
    margin: 40px;
}

.section-list {
    margin: 40px;
}
